{% extends "::base.html.twig" %}

{% block title %}{{ toto.player }}'s Toto{% endblock %}

{% block body %}
    <h1>{{ toto.player }}</h1>
    <h3>Points: {{ total }}</h3>
    {% set table_entries = toto.entries %}
    {% include 'toto/blocks/toto_table.html.twig' %}

{% endblock %}
