<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            table {
                border-collapse: collapse;
                width: 500px;
            }
            td {
                border: 1px solid #000000;
            }
            td:nth-child(1) {
                width: 10%;
            }
            td:nth-child(2) {
                width: 35%;
            }
            td:nth-child(3) {
                width: 35%;
            }
            td:nth-child(4) {
                width: 10%;
            }
            td:nth-child(4) {
                width: 10%;
            }

        </style>
    </head>
    <body>
    {% include('CoyoteBaseBundle::left_nav.html.twig') %}

    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
