<ul class="nav nav-sidebar">
    {% if is_granted("ROLE_SUPER_ADMIN") %}
    <li><a href="{{ url('coyote_user_list') }}"><span class="fa fa-users"></span> Users</a></li>
    <li><a href="{{ url('admin_toto_index') }}"><span class="fa fa-users"></span> Totos</a></li>
    {% endif %}
</ul>
